#home {
  height: 40rem;
  width: 60rem;
  border-radius: 60px;

  --border-width: 5px;
  --bg-color: #343434;

  border: var(--border-width) solid transparent;
  background-image: linear-gradient(var(--bg-color) 0 0),
    conic-gradient(from var(--angle), #381d6a 80%, #e0d1ff 88%, #e0d1ff 92%, #381d6a 100%) ;
  background-clip: padding-box, border-box;
  background-origin: padding-box, border-box;

  animation: spin 3s linear infinite paused;
  animation-play-state: running;

}

@property --angle {
  syntax: "<angle>";
  inherits: true;
  initial-value: 0turn;
}

@keyframes spin {
  to {
    --angle: 1turn;
  }
}
